In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

g = np.random.default_rng(0)
months = 'Sep Oct Nov Dec Jan Feb Mar Apr May Jun'.split()

s = Series(g.integers(40, 60, 10),
          index=months)

print(s)

Sep    57
Oct    52
Nov    50
Dec    45
Jan    46
Feb    40
Mar    41
Apr    40
May    43
Jun    56
dtype: int64

datum that are greater than mean + std

In [4]:
mean = s.mean()
std = s.std()
high_values = s[s > mean + std]
print(f"Mean: {mean:.2f}")
print(f"Standard deviation: {std:.2f}")
print("\nValues greater than mean + std:")
print(high_values)

Mean: 47.00
Standard deviation: 6.41

Values greater than mean + std:
Sep    57
Jun    56
dtype: int64

Less than mean, more than mean-std

In [8]:
mid_values = s[(s > mean - std) & (s < mean)]
print(f"mean: {mean:.2f}")
print(f"mean - std: {mean - std:.2f}")
print("\nValues between mean - std and mean:")
print(mid_values)

mean: 47.00
mean - std: 40.59

Values between mean - std and mean:
Dec    45
Jan    46
Mar    41
May    43
dtype: int64

DataFrames

In [11]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
    'Salary': [50000, 60000, 70000, 80000]
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
3    David   40      Houston   80000

filter rows where the Age is greater than 30?

In [12]:
older_than_30 = df[df['Age'] > 30]
print("\nPeople older than 30:")
print(older_than_30)

People older than 30:
      Name  Age     City  Salary
2  Charlie   35  Chicago   70000
3    David   40  Houston   80000

add a new column called Bonus that is 10% of the Salary

In [13]:
df['Bonus'] = df['Salary'] * 0.1
print("\nWith bonus:")
print(df)

With bonus:
      Name  Age         City  Salary   Bonus
0    Alice   25     New York   50000  5000.0
1      Bob   30  Los Angeles   60000  6000.0
2  Charlie   35      Chicago   70000  7000.0
3    David   40      Houston   80000  8000.0

Group by city:

In [18]:
city_age_avg = df.groupby('City')['Age'].mean()

print(city_age_avg)

City
Chicago        35.0
Houston        40.0
Los Angeles    30.0
New York       25.0
Name: Age, dtype: float64