In [3]:
import numpy as np
import pandas as pd

In [4]:

# Load the dataset
df = pd.read_csv('Titanic-Dataset.csv')

In [5]:

#Get dataset details
#get columns
print("Columns in the dataset")
print(df.columns)

Columns in the dataset
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
#Get shape of the dataset
print("Shape of the dataset")
print(df.shape)

Shape of the dataset
(891, 12)

In [7]:

#Get dataset info
print("Dataset info")
print(df.info())

Dataset info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [15]:
# Check for missing values
print("Missing values in the dataset:")
print(df.isnull().sum())

Missing values in the dataset:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:

# Calculate missing values percentage
missing_percentage = (df.isnull().sum() / len(df)) * 100
print("\nMissing Values Percentage:")
print(missing_percentage)

Missing Values Percentage:
PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [10]:

print("\nNumerical Variables Statistics:")
print(df.describe())

Numerical Variables Statistics:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [22]:
count = df['PassengerId'].sum()
mean = count/df['PassengerId'].count()
print("\nMean of PassengerId", mean)

Mean of PassengerId 446.0

Sex statistics:

In [38]:
# 1. Statistics by Sex and Class
print("Statistics by Sex and Class:")
sex_stats = df.groupby('Sex').agg({
    'Pclass' : ['count'],
    'Survived': ['count', 'mean'],
    'Age': ['mean', 'median'],
    'Fare': ['mean', 'median']
}).round(2)

print("\nSurvival Statistics:")
print(sex_stats)

Statistics by Sex and Class:

Survival Statistics:
       Pclass Survived          Age          Fare
        count    count  mean   mean median   mean median
Sex
female    314      314  0.74  27.92   27.0  44.48   23.0
male      577      577  0.19  30.73   29.0  25.52   10.5

Statistics by class:

In [39]:
print("Statistics by Sex and Class:")
sex_stats = df.groupby('Pclass').agg({
    'Sex' : ['count'],
    'Survived': ['count', 'mean'],
    'Age': ['mean', 'median'],
    'Fare': ['mean', 'median']
}).round(2)

print("\nSurvival Statistics:")
print(sex_stats)

Statistics by Sex and Class:

Survival Statistics:
         Sex Survived          Age          Fare
       count    count  mean   mean median   mean median
Pclass
1        216      216  0.63  38.23   37.0  84.15  60.29
2        184      184  0.47  29.88   29.0  20.66  14.25
3        491      491  0.24  25.14   24.0  13.68   8.05

In [42]:
print("Statistics by Sex and Class:")
age_stats = df.groupby('Age').agg({
    'Pclass' : ['count'],
    'Survived': ['count', 'mean'],
    'Sex': ['count'],
    'Fare': ['mean', 'median']
}).round(2)

print("\nSurvival Statistics:")
print(age_stats)

Statistics by Sex and Class:

Survival Statistics:
      Pclass Survived        Sex    Fare
       count    count mean count    mean  median
Age
0.42       1        1  1.0     1    8.52    8.52
0.67       1        1  1.0     1   14.50   14.50
0.75       2        2  1.0     2   19.26   19.26
0.83       2        2  1.0     2   23.88   23.88
0.92       1        1  1.0     1  151.55  151.55
...      ...      ...  ...   ...     ...     ...
70.00      2        2  0.0     2   40.75   40.75
70.50      1        1  0.0     1    7.75    7.75
71.00      2        2  0.0     2   42.08   42.08
74.00      1        1  0.0     1    7.78    7.78
80.00      1        1  1.0     1   30.00   30.00

[88 rows x 6 columns]

Get first class teenagers

In [44]:
teenagers_first_class = df[
    (df['Pclass'] == 1) & 
    (df['Age'] >= 13) & 
    (df['Age'] <= 19)
][['Name', 'Ticket', 'Age']] 

print(f"First Class Teenagers (Age 13-19):")
print("=" * 70)
print(teenagers_first_class.to_string(index=False))
print("\nTotal count:", len(teenagers_first_class))

First Class Teenagers (Age 13-19):
======================================================================
                                                                              Name   Ticket  Age
                                                    Fortune, Mr. Charles Alexander    19950 19.0
                                                      Newsom, Miss. Helen Monypeny    11752 19.0
                                           Bishop, Mrs. Dickinson H (Helen Walton)    11967 19.0
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo) PC 17758 17.0
                                                        Ryerson, Miss. Emily Borie PC 17608 18.0
                                                      Hippach, Miss. Jean Gertrude   111361 16.0
                                                         Carter, Miss. Lucile Polk   113760 14.0
                                                             Maioni, Miss. Roberta   110152 16.0
                                        Penasco y Castellana, Mr. Victor de Satode PC 17758 18.0
                                                       Thayer, Mr. John Borland Jr    17421 17.0
                                                               Taussig, Miss. Ruth   110413 18.0
                                                 Madill, Miss. Georgette Alexandra    24160 15.0
                                 Astor, Mrs. John Jacob (Madeleine Talmadge Force) PC 17757 18.0
                                                         Marvin, Mr. Daniel Warner   113773 19.0
                                         Dick, Mrs. Albert Adrian (Vera Gillespie)    17474 17.0
                                                         Lines, Miss. Mary Conover PC 17592 16.0
                                                      Graham, Miss. Margaret Edith   112053 19.0

Total count: 17

sex var type

In [46]:
print("=== Analysis of 'Sex' Variable ===")
print(f"Variable type: {df['Sex'].dtype}")
print("\nUnique values:")
print(df['Sex'].unique())

=== Analysis of 'Sex' Variable ===
Variable type: object

Unique values:
['male' 'female']

In [47]:
df['Sex_Label'] = df['Sex'].map({'male': 0, 'female': 1})

In [48]:

# Display the first 5 rows of the dataset
print(df.head(8))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3

   Parch            Ticket     Fare Cabin Embarked  Sex_Label
0      0         A/5 21171   7.2500   NaN        S          0
1      0          PC 17599  71.2833   C85        C          1
2      0  STON/O2. 3101282   7.9250   NaN        S          1
3      0            113803  53.1000  C123        S          1
4      0            373450   8.0500   NaN        S          0
5      0            330877   8.4583   NaN        Q          0
6      0             17463  51.8625   E46        S          0
7      1            349909  21.0750   NaN        S          0